<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GitHub-FSM" value="https://nuget.pkg.github.com/K4v4Try4/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub-FSM>
      <add key="Username" value="K4v4Try4" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </GitHub-FSM>
  </packageSourceCredentials>
</configuration>